.hero{
    color:black;
    height: 25vh;
    width:100%;
    position: relative;
    margin-bottom: 4rem;
    
        
 
    
}
    

    .hero:before {
        content: '';
        background: url('../../assets/Herobackground.jpg') no-repeat center center/cover;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        border-style:solid ;
        border-width: .3rem;
    }
    
   

.hero .banner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    text-align: center;
    max-width: 600px;
    margin: auto;
    padding: 1rem;
}

@media screen and (max-width: 940px) {
    .hero {
        height: 15vh;
    }

    .hero h1 {
        font-size: 2.5rem;
    }

    .search input[type=text] {
        width: 100%;
    }
}