.home{
    width: 100%;
    margin:3rem 0;
    text-align: center;
    
}
.home > div {
display: flex;
justify-content: center;
}

.home > div p {
    margin: 1rem 2rem;
    font-size: 1.2rem;

    font-family: "Englebert", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .home h1{
  font-family: "Tangerine";
  font-weight: 700;
  font-style: normal;
  font-size: 4.5rem;
  color:azure;
}


.container {
    display: grid;
    
    grid-gap: 15px;
   
    grid-template-columns: repeat(4, minmax(0, 1fr));
    
  }
  
  .home img {
    width: 85%;
    height:85%;
    border-style:solid ;
    border-width: .1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

  
  
  
  


@media screen and (max-width:940px) {
    .home {
        margin: 1rem 0;
    }

    .home > div p {
        margin: 1rem;
        font-size: 1rem;
    }
    .home img {
        width: 80%;
        height:80%;
    
    }

    .home .container {
        grid-template-columns: 1fr;
        grid-gap: .5rem;
    }
}

@media screen and (max-width: 478px) {
    .home > div p {
        margin: 1rem .5rem;
    }
}