.footer{
    width:100%;
    padding: 2rem 0;
    background-color: rgb(180, 223, 180);

}

.footer .social {
    text-align: center;
    color:white;
}

.footer .icon {
    font-size: 2rem;
    margin: 2rem 3rem;
    color: #5651e5;
}
@media screen and (max-width: 940px) {
    .footer .container {
        grid-template-columns: repeat(2,1fr);
        gap: .5rem;
    }

    .footer .icon {
        margin: 1rem;
    }
}
.footer .copyright{
    text-align: center;
    color:white;
}